:root {
  /* // background color pallete */
  --bg-primary: #344c11;
  --bg-secondary: #aec09a;
  --bg-utils: #778d45;

  /* // text color */
  --text-primary: #eeeeee;
  --text-secondary: #1a2902;
  --text-thin: #333333;

  // product page background color
  --bg-product-primary: #ffffff;
  --bg-product-secondary: #f4f5f9;

  // navbar height
  --navbar-height: 3.5rem;

  // screen size maximum size
  --screen-max: 1536px;
  --screen-sidebar-max: 440px;
}
